* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

#canvas {
    width: 900px;
    height: 700px;
    border: 4px solid blueviolet;
    background-image: url('a.jpg');
    background-color: #fff;
    background-size: cover; 
}
