* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

#canvas {
    position: relative;
    width: 900px;
    height: 700px;
    border: 4px solid blueviolet;
    background-image: url('background.png');
    background-color: #fff;
    background-size: cover; 
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #startButton:hover {
    background-color: #555;
  }
  
